@import url('https://fonts.cdnfonts.com/css/metropolis');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'metropolis', sans-serif;
}

.speakers-section .speakers-intro{
    text-align: center;
    margin: 12vh 0 6vh;
}

.speakers-section .speakers-intro h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

.speakers-section .speakers-intro p{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding-top: 1vh;
    letter-spacing: 0.5px;
}

.speakers-slider{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 5px;
    margin: 0 auto;
}

.speaker {
    margin: 0px 10px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.speaker img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.speaker h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin: 10px 0;
}

.speaker p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    width: 230px;
}

.speaker p:last-of-type {
    color: #6B6B6B;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.speakers-slider .left-arrow, .right-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}


.program-container{
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
    justify-content: flex-start;
    margin: 8vh 0 15vh;
}

.program-text{
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin-left: 275px;
    margin-top: 50px;
}

.arrow-image{
    position: absolute;
    bottom: -50px;
    left: 120px;
    width: 135px;
}

.program-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.program-button{
    width: 400px;
    border-radius: 10px;
    background-color: #003FB4;
    padding: 20px 80px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

/* Popup container */
.popup {
    position: relative;
    display: none;
    width: 100%;
    max-width: 1100px;
    margin: 10px auto;
    z-index: 1000;
}

.popup-content {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    gap: 10px;
}

.popup-content img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
}

.popup-text {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.popup-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 27%;
}

.popup-info h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

.popup-info p{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.popup-info p:last-of-type{
    line-height: 1.5;
    color: #6B6B6B;
    font-size: 16px;
    font-weight: 400;
}

.popup-icons {
    display: flex;
    gap: 5px;
}

.popup-icons img {
    width: 24px;
    height: 24px;
}

.popup-icons img:last-child{
    width: 30px;
    height: 30px;
}

.popup-separator img {
    width: 1px;
    height: 150px;
}

.popup-description {
    font-family: 'Lora';
    font-size: 18px;
    color: #000000;
    line-height: 1.6;
    width: 70%;
    font-weight: 400;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}
